*,
*::before,
*::after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.game-info {
    width: 350px;
    box-sizing: border-box;
    padding: 15px 40px;
    height: 500px;
    background-color: white;
}

canvas {
    display: block;
    margin-left: 25px;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.row span:nth-child(2) {
    margin-left: 20px;
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.3);
}

.game-info .box:not(:last-child) {
    margin-bottom: 5px;
}

.box.empty {
    background-color: gray;
}

.box.grass {
    background-color: green;
}


.box.eater {
    background-color: yellow;
}



.box.predator {
    background-color: black;
}



.box.planter {
    background-color: red;
}



.box.omnivorous {
    background-color: blue;
}



.box.hole {
    background-color: #555555;
}



.box.helper {
    background-color: orange;
}



.box.helperBomb {
    background-color: yellowgreen;
}


body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}